<div class="text-center container-fluid wrapper oxy">
    <section class="row mx-auto">
        <div class="memberlist col-12 col-sm-6 col-md-3">
            <img src="/images/logoOwlclaw.png" width="150" height="150" class="img-fluid rounded-circle" alt="Logo Owlclaw">
            <table class="table table-bordered bg-light">
              <tbody>
                {{#each players.Owlclaw}}
                      {{#if this.dead}}
                      <tr class="table-danger" style="text-decoration: line-through;">
                      {{else if this.haskilled}}
                      <tr class="table-success">
                      {{else}}
                      <tr class="table">
                      {{/if}}
                        <td class="text-center">{{this.prenom}} {{this.nom}}</td>
                      </tr>
                {{/each}}
              </tbody>
            </table>
        </div>
        <div class="memberlist col-12 col-sm-6 col-md-3">
            <img src="/images/logoWolfeye.png" width="150" height="150" class="img-fluid rounded-circle" alt="Logo Wolfeye">
            <table class="table table-bordered bg-light">
              <tbody>
                {{#each players.Wolfeye}}
                      {{#if this.dead}}
                      <tr class="table-danger" style="text-decoration: line-through;">
                      {{else if this.haskilled}}
                      <tr class="table-success">
                      {{else}}
                      <tr class="table">
                      {{/if}}
                        <td class="text-center">{{this.prenom}} {{this.nom}}</td>
                      </tr>
                {{/each}}
              </tbody>
            </table>
        </div>
        <div class="memberlist col-12 col-sm-6 col-md-3">
            <img src="/images/logoPhoenixtear.png" width="150" height="150" class="img-fluid rounded-circle" alt="Logo Phoenixtear">
            <table class="table table-bordered bg-light">
              <tbody>
                {{#each players.Phoenixtear}}
                      {{#if this.dead}}
                      <tr class="table-danger" style="text-decoration: line-through;">
                      {{else if this.haskilled}}
                      <tr class="table-success">
                      {{else}}
                      <tr class="table">
                      {{/if}}
                        <td class="text-center">{{this.prenom}} {{this.nom}}</td>
                      </tr>
                {{/each}}
              </tbody>
            </table>
        </div>
        <div class="memberlist col-12 col-sm-6 col-md-3">
            <img src="/images/logoFoxpaw.png" width="150" height="150" class="img-fluid rounded-circle" alt="Logo Foxpaw">
            <table class="table table-bordered bg-light">
              <tbody>
                {{#each players.Foxpaw}}
                      {{#if this.dead}}
                      <tr class="table-danger" style="text-decoration: line-through;">
                      {{else if this.haskilled}}
                      <tr class="table-success">
                      {{else}}
                      <tr class="table">
                      {{/if}}
                        <td class="text-center">{{this.prenom}} {{this.nom}}</td>
                      </tr>
                {{/each}}
              </tbody>
            </table>
        </div>
        <div class="memberlist col-12 col-sm-6 col-md-3">
            <img src="/images/logoEaglescream.png" width="150" height="150" class="img-fluid rounded-circle" alt="Logo Eaglescream">
            <table class="table table-bordered bg-light">
              <tbody>
                {{#each players.Eaglescream}}
                      {{#if this.dead}}
                      <tr class="table-danger" style="text-decoration: line-through;">
                      {{else if this.haskilled}}
                      <tr class="table-success">
                      {{else}}
                      <tr class="table">
                      {{/if}}
                        <td class="text-center">{{this.prenom}} {{this.nom}}</td>
                      </tr>
                {{/each}}
              </tbody>
            </table>
        </div>
        <div class="memberlist col-12 col-sm-6 col-md-3">
            <img src="/images/logoLionskin.png" width="150" height="150" class="img-fluid rounded-circle" alt="Logo Lionskin">
            <table class="table table-bordered bg-light">
              <tbody>
                {{#each players.Lionskin}}
                      {{#if this.dead}}
                      <tr class="table-danger" style="text-decoration: line-through;">
                      {{else if this.haskilled}}
                      <tr class="table-success">
                      {{else}}
                      <tr class="table">
                      {{/if}}
                        <td class="text-center">{{this.prenom}} {{this.nom}}</td>
                      </tr>
                {{/each}}
              </tbody>
            </table>
        </div>
        <div class="memberlist col-12 col-sm-6 col-md-3">
            <img src="/images/logoTigerblood.png" width="150" height="150" class="img-fluid rounded-circle" alt="Logo Tigerblood">
            <table class="table table-bordered bg-light">
              <tbody>
                {{#each players.Tigerblood}}
                      {{#if this.dead}}
                      <tr class="table-danger" style="text-decoration: line-through;">
                      {{else if this.haskilled}}
                      <tr class="table-success">
                      {{else}}
                      <tr class="table">
                      {{/if}}
                        <td class="text-center">{{this.prenom}} {{this.nom}}</td>
                      </tr>
                {{/each}}
              </tbody>
            </table>
        </div>
        <div class="memberlist col-12 col-sm-6 col-md-3">
            <img src="/images/logoDragonwing.png" width="150" height="150" class="img-fluid rounded-circle" alt="Logo Dragonwing">
            <table class="table table-bordered bg-light">
              <tbody>
                {{#each players.Dragonwing}}
                      {{#if this.dead}}
                      <tr class="table-danger" style="text-decoration: line-through;">
                      {{else if this.haskilled}}
                      <tr class="table-success">
                      {{else}}
                      <tr class="table">
                      {{/if}}
                        <td class="text-center">{{this.prenom}} {{this.nom}}</td>
                      </tr>
                {{/each}}
              </tbody>
            </table>
        </div>
    </section>

</div>
