{{#if message}}
  <div id="alertScore" class="alert alert-success alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{message}}
  </div>
{{/if}}
<div class="row">
<div class=" col-6 jumbotron">
  <h1 class="display-4">Bonjour agent {{pseudo}}</h1>
  <p class="lead"><span class="badge badge-info">{{equipe}}</span></p>
  <hr class="my-4">
  <p>Votre mission actuelle : {{mission}}</p>
  <p>Votre cible : {{cible}}</p>
  <p>Votre score : {{score}}</p>
</div>
<div class="col-6 leaderboard">
  <h2 id="leaderBoardHeader" class="viga text-dark text-center">Leaderboard</h2>
  <div id="leaderBoard" class="container">
      <section class="row text-center">
          {{#each leaderBoard}}
              <div class="col-12 col-sm-6 col-md-3 famille">
                <h4>{{this.pseudo}}</h4>
                <div class="text-muted">{{this.score}} points</div></br>
              </div>
          {{/each}}
      </section>
  </div>
</div>
</div>
<div class="container">
  <div class="row">
    <div class="col-6">
      <form action="\killer" method="Post">
        <div class="form-group">
          <h2>Spectre</h2>
          <p>Vous avez des informations sur un espion ? Chaque jour vous pouvez gagner 100pts en trouvant l'equipe auquelle appartient un espion</p>
          <p>Attention donner de faux renseignements vous enlève des points</p>

          <select class="form-control" name="agent">
            {{#each listeAgents}}
              <option>{{this.nom}} {{this.prenom}}
              <!--<input type="hidden" value="{{this.nom}}" name="nom">
              <input type="hidden" value ="{{this.prenom}}" name="prenom">--></option>

            {{/each}}
          </select>
          <select class="form-control" name="team">
            <option value="MI6">MI6</option>
            <option value="KGB">KGB</option>
            <option value="DGSE">DGSE</option>
            <option value="CIA">CIA</option>
            <option value="Bundesnachrichtendienst">Bundesnachrichtendienst</option>
            <option value="Woop">Woop</option>
          </select>
          <p>De retour rapidement</p>
          <button class="btn btn-primary mb-2" type="submit">Envoyer</button>
      </form>
    </div>
  </div>
  <div class="col-6">
    <form action="\killer" method="post">
      <div class="form-group">
        <h2>Déclarer un kill</h2>
        <p>Même les meilleurs agents doivent pointer leurs heures de travail...</p>
        <p>Chaque kill vous permet de gagner 500pts</p>

        <input class="form-control" type="text" name="killCode" placeholder="XXXXX">
        <button class="btn btn-primary mb-2" type="submit">Déclarer</button>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="form-group">
    <form action="\killer" method="post">
      <h2>GoldenLyon</h2>
      <p>Les lyonnais ont lancé un satellite pour espionner Centrale Nantes et trouver le secret de notre réussite</p>
      <p>Heuresement ils ont écrit les codes d'accès sur des post-it</p>
      <p>Chaque code vous rapporte 50pts</p>

      <input class="form-control" type="text" name="goldenCode" placeholder="XXXX">
      <button class="btn btn-primary mb-2" type="submit">Casser du lyonnais</button>
    </form>
  </div>
</div>
<div class="row">
  <div class="form-group">
    <h2>Bons baisers de l'ile</h2>
    <p>Disponible le dimanche 10 février</p>
  </div>
</div>
<div class="col-sm-12 leaderboard">
  <h2 id="leaderBoardHeader" class="viga text-dark text-center">Leaderboard</h2>
  <div id="leaderBoard" class="container">
      <section class="row text-center">
          {{#each leaderBoard}}
              <div class="col-12 col-sm-6 col-md-3 famille">
                <h4>{{this.pseudo}}</h4>
                <div class="text-muted">{{this.score}} points</div></br>
              </div>
          {{/each}}
      </section>
  </div>
</div>
</div>
